::selection {
  color: #1665c4;
}
::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #e6e6e6;
}
/**------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
button {
  border: transparent;
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  font-size: 10px;
  padding: 0.8rem 2rem;
  transition: all 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
}
div.category {
  margin-bottom: 4rem;
}
div.category .item {
  display: flex;
  align-items: baseline;
}
div.category .item input:hover {
  cursor: pointer;
}
div.category .item label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  opacity: 0.75;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
div.category .item label:hover {
  cursor: pointer;
}
div.category p {
  font-size: 0.8rem;
  font-weight: 400;
}
div.category ul {
  display: block;
  font-size: 0.9rem;
  margin: 0.2rem 0 0.5rem 0;
  padding: 0.2rem 1.3rem 0.5rem;
}
textarea {
  border-radius: 6px;
  border-color: #aaa;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  resize: none;
}
textarea:focus {
  border-color: #1665c4;
}
html {
  overflow: hidden;
}
html body {
  width: 400px;
  height: 675px;
  background-color: #fff;
  /**=======================================================*/
  /**=======================================================*/
}
html body header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 1rem 0.5rem;
}
html body header .grid {
  display: grid;
  height: 100%;
  grid-template-areas: "head";
}
html body header .grid .block-logo {
  grid-area: head;
  text-align: center;
  align-self: center;
  justify-self: center;
}
html body header .grid .block-logo img {
  width: 75%;
}
html body header .grid .block-logo h4 {
  text-align: center;
  font-size: 0.8rem;
  color: #1665c4;
  font-weight: 700;
  margin-top: 0;
}
html body header .grid .block-icon {
  grid-area: head;
  align-self: start;
  justify-self: end;
}
html body header .grid .block-icon i {
  opacity: 0.7;
}
html body header .grid .block-icon i:hover {
  cursor: pointer;
}
html body main {
  position: fixed;
  top: 6rem;
  width: 100%;
  height: 75%;
  padding: 1rem;
  padding-bottom: 0;
  overflow-y: scroll;
}
html body main #category-default {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}
html body main #category-default label {
  margin-left: 0;
  margin-bottom: 0;
}
html body main #category-default label h4 {
  font-weight: 500;
  font-size: 1.1rem;
}
html body main #category-default select {
  width: 7rem;
  background: aliceblue;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
html body main #category-default select option {
  cursor: pointer;
}
html body main #txtarea-clipboard {
  pointer-events: none;
  background: aliceblue;
  border: none;
  font-size: 0.7rem;
  overflow: hidden;
}
html body main #txtarea-clipboard:focus-visible {
  outline: none;
}
html body main .end {
  text-align: center;
}
html body main .end a {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
  padding: 0.2rem;
}
html body main .end a:hover {
  cursor: default;
}
html body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}
html body footer .block-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
html body footer .block-content #btn-cancel {
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #fff;
  color: #1665c4;
}
html body footer .block-content #btn-cancel:hover {
  border-color: #1665c4;
}
html body footer .block-content #btn-done {
  background-color: #1665c4;
  color: #fff;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
html body footer .block-content #btn-done:hover {
  /* background-color: #fff;
                        color: #1665c4; */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
